html, body{
    margin: 0;
    padding: 0;

}

/* navbar styling */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* container styling */
.container1 h1{
    font-family: "Allerta Stencil", Sans-serif;
    text-align: center;
}
.container2 h1{
    font-family: "Allerta Stencil", Sans-serif;
    text-align: center;
}

h4{
    margin: 0px;
    text-align: center;
}

.main-image img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body{
    font-family:monospace;
    font-size: 18px;
    background-color: #eee;
    line-height: 1.56;
    padding-bottom: 500px;
    text-align: justify;

}


.container1{
    width: 900px;
    margin: 30px auto;
    background-color: rgb(243, 255, 107);
    padding: 20px;
    box-sizing: border-box;
}

.container2{
    width: 900px;
    background-color: rgb(198, 237, 238);
    padding: 20px;
    box-sizing: border-box;
    display: block;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    display: block;
}

.container3{
    width: 900px;
    margin: 30px auto;
    background-color: rgb(216, 216, 216);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

}
.facts2{
    margin-top: 30px;

}
.box1 {
    background-color: lightcyan;
    flex: 1;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
}
.box1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.box2{
    background-color: lightgreen;
    flex: 1;
    width: 30%;
    padding: 50px;
    box-sizing: border-box;
}

.box2 img{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.box3{
    background-color: lightsteelblue;
    flex: 1;
    width: 30%;
    padding: 50px;
    box-sizing: border-box;
}
.box3 img{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/* Funfact styling */
.row, .row2 {
    display: flex;
    align-items: center;
}
  
.thumb-box {
    display: flex;
    max-width: 33.3333%;
    margin: 0 15px;
    position: relative;
  }
.thumb-box a {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9997;
  }
  
.thumb-box img {
    width: 100%;
    height: 280px;
    float: left;
  }
  
.overlay-box {
    position: absolute;
    bottom: 0;
    width: 90%;
    z-index: 9998;
    left: 0;
    padding: 5%;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.75)
    );
  }
  
.meta {
    font-size: 14px;
    display: block;
    color: rgb(255, 255, 255);
  }
  
.main-title {
    font-size: 16px;
    display: block;
    font-weight: 700;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
  }
  
.description {
    color: #ccc;
    font-size: 13px;
    margin-top: 5px;
    display: block;
    color: #ccc;
    max-height: 0;
    line-height: 18px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
  }
  
.thumb-box a:hover .description {
    opacity: 1;
    max-height: 100px;
    margin-top: 5px;
    transition: opacity 0.4s ease-out, max-height 0.9s ease-out;
  }
  
.thumb-box a:hover .overlay-box {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
  }
  
  

/* Button Styling */  
.wrap {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
.button:hover {
    background-color: #df4d34;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

.button1 {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
.button1:hover {
    background-color: #0616f5;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

.container4{
    width: 900px;
    margin: 30px auto;
    background-color: rgb(206, 206, 206);
    padding: 20px;
    box-sizing: border-box;
    
}
